name: Continuous integration
on: [ pull_request ]

jobs:
  build-backend:
    name: Build .NET solution
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-dotnet@v1.7.2
        with:
          dotnet-version: '6.0.x'
      - name: Restore dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --no-restore
  
  build-frontend:
    name: Build frontend
    runs-on: ubuntu-20.04
    defaults:
      run:
        working-directory: Epsilon.Host.Frontend
    steps:
      - uses: actions/checkout@v2
      - uses: pnpm/action-setup@v2
        with:
          version: 7
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'pnpm'
          cache-dependency-path: 'Epsilon.Host.Frontend/pnpm-lock.yaml'
      - name: Install modules
        run: pnpm install
      - name: Build
        run: pnpm build
          
  build-docker:
    name: Build Docker
    runs-on: ubuntu-20.04
    needs: [ build-backend,build-frontend ]
    steps:
      - uses: actions/checkout@v2
      - name: Build the containers
        run: docker-compose up -d
  
  lint-frontend:
    name: Lint frontend
    runs-on: ubuntu-20.04
    defaults:
      run:
        working-directory: Epsilon.Host.Frontend
    steps:
      - uses: actions/checkout@v2
      - uses: pnpm/action-setup@v2
        with:
          version: 7
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'pnpm'
          cache-dependency-path: 'Epsilon.Host.Frontend/pnpm-lock.yaml'
      - name: Install modules
        run: pnpm install
      - name: Perform linting
        run: pnpm lint
