name: Continuous integration
on: [ pull_request ]

jobs:
  build:
    name: Building .NET
    runs-on: ubuntu-20.04
    
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-dotnet@v1.7.2
        with:
          dotnet-version: '6.0.x'
      - name: Restore dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --no-restore
  lint:
    name: ESLint frontend
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install modules
        run: cd Epsilon.Host.Frontend && pnpm install
      - name: Run ESLint
        run: cd Epsilon.Host.Frontend && pnpm run lint