name: Continuous integration
on: [ pull_request ]

jobs:
  build-backend:
    name: Build .NET solution
    runs-on: ubuntu-20.04
    
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-dotnet@v1.7.2
        with:
          dotnet-version: '6.0.x'
      - name: Restore dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --no-restore

  setup-frontend:
    name: Setup frontend
    runs-on: ubuntu-20.04
    defaults:
      run:
        working-directory: Epsilon.Host.Frontend
    steps:
      - uses: actions/checkout@v2
      - uses: pnpm/action-setup@v2
        with:
          version: 7
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'pnpm'
      - name: Install modules
        run: pnpm install
  
  build-frontend:
    name: Lint frontend
    needs: [ setup-frontend ]
    runs-on: ubuntu-20.04
    defaults:
      run:
        working-directory: Epsilon.Host.Frontend
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'pnpm'
      - name: Build
        run: pnpm build
  
  lint-frontend:
    name: Lint frontend
    needs: [ setup-frontend ]
    runs-on: ubuntu-20.04
    defaults:
      run:
        working-directory: Epsilon.Host.Frontend
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'pnpm'
      - name: Perform linting
        run: pnpm lint
