name: Continuous deployment
on:
  push:
jobs:
  building:
    name: Building artifacts
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        RID: [ 'linux-x64', 'win-x64', 'osx-x64' ]
    env:
      release-directory: ./Epsilon.Cli/bin/Release/net6.0/
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-dotnet@v1.7.2
        with:
          dotnet-version: '6.0.x'
      - name: Build
        run: dotnet publish Epsilon.Cli --runtime ${{ matrix.RID }} --configuration Release -p:PublishSingleFile=true -p:PublishTrimmed=true --self-contained true
      - name: Copy appsettings.json
        run: cp ./Epsilon.Cli/appsettings.example.json ${{env.release-directory}}${{ matrix.RID }}/publish/appsettings.json
      - name: Removing unnecessary files
        run: rm ${{env.release-directory}}${{ matrix.RID }}/publish/*.pdb
      - name: Create artifact ${{ matrix.RID }}
        uses: actions/upload-artifact@v2
        with:
          name: Epsilon.Cli - ${{ matrix.RID }}
          path: ${{env.release-directory}}${{ matrix.RID }}/publish
  release:
    needs: building
    name: Creating release
    runs-on: ubuntu-20.04
    env:
      release-directory: ./Epsilon.Cli/bin/Release/net6.0/
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Release
        uses: meeDamian/github-release@2.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          tag: 'v0.1.0'
          name: My Creative Name
          body: >
            This release actually changes the fabric of the reality, so be careful 
            while applying, as error in database migration, can irrecoverably wipe 
            some laws of physics.  
          gzip: folders
          files: >
            build/
    