name: Continuous deployment
on:
  workflow_run:
    workflows: [ "Continuous integration" ]
    branches: [ docker ]
    types: [ requested ]
    paths:
      - '**.js'
      - '**.yml'
      - '**.cs'
      - '**.json'
      - '**.csproj'
      - '**.ts'
      - '**.vue'
      - '**.css'
jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@9ec57ed1fcdbf14dcef7dfbe97b2010124a938b7
        with:
          images: typiqally/epsilon

      - name: Build and push Docker image API
        uses: docker/build-push-action@3b5e8027fcad23fda98b2e3ac259d8d67585f671
        with:
          context: .
          file: ./Epsilon.Host.WebApi/Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}-api
          labels: ${{ steps.meta.outputs.labels }}-API


      - name: Build and push Docker image Frontend
        uses: docker/build-push-action@3b5e8027fcad23fda98b2e3ac259d8d67585f671
        with:
          context: ./Epsilon.Host.Frontend
          secrets: VITE_EPSILON_API_ENDPOINT=https://staging-epsilon.tpcly.com/api
          push: true
          tags: ${{ steps.meta.outputs.tags }}-frontend
          labels: ${{ steps.meta.outputs.labels }}
    